.about-us {
  display: flex;
  width: 100%;
  width: 100vw;

  padding-top: $spc-l;
  padding-bottom: $spc-xl;

  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  color: $font-color;

  .about-us-header {
    display: flex;
    width: 75px;
    width: 75vw;

    margin-bottom: 100px;
    flex-flow: column wrap;
  }

  p {
    padding-top: $spc-s;
  }

  .about-us-cards {
    display: flex;
    width: 75%;
    width: 75vw;

    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;

    .about-us-card {
      width: 75%;
      width: 75vw;
      max-width: 550px;

      margin: 0px;
      margin-bottom: $spc-l;

      flex-flow: column wrap;
      justify-content: space-around;
      text-align: left;

      .about-us-card-header {
        display: flex;
        width: 100%;
        width: 100vw;

        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        .about-us-icon {
          display: inline-flex;
          width: 57px;
          height: 57px;

          margin: 0 $spc-s 0 $spc-s;

          justify-content: center;
          align-items: center;
          text-align: center;

          font-size: 1.625rem;
          color: $link-hovered-color;
          border-radius: 100%;
          box-shadow: 3px 3px 6px $text-shadow-color;

          i {
            margin-left: 4px;
          }
        }

        .about-us-icon-telescope {
          display: inline-flex;
          width: 57px;
          height: 57px;

          margin-right: $spc-s;
          margin-bottom: $spc-s;

          justify-content: center;
          align-items: center;

          text-align: center;
          font-size: 2.125rem;
          color: $link-hovered-color;

          border-radius: 100%;
          box-shadow: 3px 3px 6px $text-shadow-color;

          i {
            margin-left: 4px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .about-us {
    .about-us-header {
      width: 100%;
      width: 100vw;
      margin-bottom: $spc-m;
    }

    .about-us-cards {
      width: 65%;
      width: 65vw;
      flex-flow: row wrap;

      .about-us-card {
        width: 34%;
        width: 24vw;
        max-width: 344px;
        margin: 40px;
      }
    }
  }
}
