.about-us {
  display: flex;
  width: 100%;
  width: 100vw;

  padding: $section-mobile-spc;

  flex-flow: column nowrap;
  align-items: center;

  color: $font-color;

  .about-us-header {
    display: flex;
    width: 90%;
    width: 90vw;

    margin-bottom: $spc-m;
    flex-flow: column wrap;

    h1 {
      margin-bottom: $spc-s;
      color: $heading-color;
    }
  }

  p {
    padding-top: $spc-s;
  }

  .about-us-cards {
    display: flex;
    margin: 0 $spc-m 0 $spc-m;

    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;

    .about-us-card {
      width: 90px;
      width: 90vw;
      max-width: $con-mob-max-width;

      margin: $spc-tb-sm;

      flex-flow: column wrap;
      justify-content: space-around;
      text-align: left;

      .about-us-card-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        .about-us-icon,
        .about-us-icon-telescope {
          display: inline-flex;
          width: $icon-dim;
          height: $icon-dim;

          margin-right: $spc-s;

          justify-content: center;
          align-items: center;
          text-align: center;

          font-size: 1.625rem;
          color: $link-hovered-color;
          border-radius: 100%;
          box-shadow: $icon-shadow $text-shadow-color;
        }

        .about-us-icon-telescope {
          font-size: 2.125rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .about-us {
    padding: $section-spc;

    .about-us-header {
      width: 100%;
      width: 100vw;
      margin-bottom: $spc-l;
    }

    .about-us-cards {
      width: 70%;
      width: 70vw;
      max-width: $con-max-width;
      margin: $spc-tb-sm;
      flex-flow: row nowrap;
      justify-content: space-between;

      .about-us-card {
        width: 21.5rem;
        margin: 0 0 $spc-m 0;
      }
    }
  }
}
