$white: #fff;
$grey: #d3d3d3;
$trasparent: rgba(255, 255, 255, 0.9);

$font-color: #021223;
$font-color-bright: $white;
$link-hovered-color: #ed403a;
$card-hover-color: $white;
$heading-color: #0760b7;
$bg-color-accent: $heading-color;
$bg-color-dark: $font-color;
$bg-color-bright: $grey;

$text-shadow-color: rgba(0, 0, 0, 0.2);
$card-shadow-color: rgba(0, 0, 0, 0.3);
