.downloadable-content {
  display: flex;
  width: 100%;
  width: 100vw;

  padding: $section-mobile-spc;

  flex-flow: column nowrap;
  align-items: center;
  text-align: center;

  color: $font-color-bright;
  background-color: $bg-color-dark;

  h3 {
    margin-bottom: $spc-m;
    font-size: 1.5rem;
    color: $font-color-bright;
  }

  h4 {
    margin-bottom: $spc-m;
    font-weight: 100;
    color: $font-color-bright;
  }

  .downloadable-icons {
    display: flex;
    width: 90%;
    width: 90vw;

    flex-flow: row nowrap;
    justify-content: space-between;

    .downloadable-icon {
      font-size: 5.5rem;
      color: $heading-color;

      &:hover {
        color: $link-hovered-color;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .downloadable-content {
    padding: $section-spc;

    .downloadable-icons {
      width: 40%;
      width: 40vw;

      .downloadable-icon {
        font-size: 6.25rem;
      }
    }
  }
}
