.downloadable-content {
  display: flex;
  width: 100%;
  width: 100vw;

  padding: $section-mob-spc;

  flex-flow: column nowrap;
  align-items: center;
  text-align: center;

  color: $font-color-bright;
  background-color: $bg-color-dark;

  h3 {
    margin-bottom: $spc-m;
    color: $font-color-bright;
    font-size: 1.5rem;
  }

  .downloadable-icons {
    display: flex;
    width: 90%;
    width: 90vw;

    flex-flow: row nowrap;
    justify-content: center;

    h4 {
      padding: $spc-s;
      font-weight: 300;
      color: $font-color-bright;
    }

    .downloadable-icon {
      font-size: 5.5rem;
      color: $heading-color;

      &:hover {
        color: $link-hovered-color;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .downloadable-content {
    padding: $section-spc;

    h3 {
      margin-bottom: $spc-l;
    }

    .downloadable-icons {
      width: 40%;
      width: 40vw;
      max-width: $content-max-width;

      .downloadable-icon {
        margin: 0 $spc-m 0 $spc-m;
        font-size: 6.25rem;
      }
    }
  }
}
