.downloadable-content {
  display: flex;
  width: 100%;
  width: 100vw;
  flex-flow: column nowrap;

  margin-top: 100px;
  margin-bottom: 100px;

  align-items: center;
  text-align: center;
  color: $font-color-dark;

    h1 {
    padding-top: 30px;
    }

  h2 {
    width: 70%;
    width: 70vw;
    font-weight: 500;
  }

  .downloadable-icons {
    display: flex;
    flex-flow: row nowrap;
    width: 40vw;
    width: 40%;
    justify-content: space-between;

    margin-top: 100px;

    .downloadable-icon {
      font-size: 100px;
      color: $link-hovered-color;
    }

    h3 {
      color: $font-color-dark;
    }
  }
}
