.equipment-section {
  display: flex;
  width: 100%;
  width: 100vw;

  padding: $section-mobile-spc;

  flex-flow: column nowrap;
  align-items: center;

  background-color: $bg-color-accent;

  .equipment-header {
    display: flex;
    width: 90%;
    width: 90vw;

    margin-bottom: $spc-m;
    flex-flow: column nowrap;

    h1 {
      color: $font-color-bright;
    }
  }

  .equipment-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: left;

    .equipment-card {
      display: flex;
      width: 90%;
      width: 90vw;
      height: 400px;

      margin-bottom: $spc-s;
      padding: $spc-s;
      flex-flow: column nowrap;

      background-size: 280px;
      background-position: center;
      background-position-y: 80px;
      background-repeat: no-repeat;
      background-color: $white;

      color: $font-color;
      border-radius: 5px;
      box-shadow: 0 7px 14px $card-shadow-color, 0 4px 7px $card-shadow-color;

      h3 {
        padding-top: 10px;
        text-align: center;
        letter-spacing: 0;
      }

      &:nth-of-type(1) {
        background-image: url("assets/images/teleskop1_full.jpg");
      }

      &:nth-of-type(2) {
        background-image: url("assets/images/teleskop2_full.jpg");
      }

      .equipment-image {
        width: 350px;
        height: 450px;
      }

      .equipment-info {
        display: flex;
        height: 100%;
        padding-top: $spc-s;

        flex-flow: column wrap;
        justify-content: space-around;

        line-height: $spc-s;
        opacity: 0;
        transition: none;

        .equipment-info-prop-title {
          font-weight: 600;
        }

        li {
          margin-bottom: 8px;
        }
      }

      &:hover {
        background-image: none;
        opacity: 1;
        box-shadow: 0 15px 38px $card-shadow-color,
          0 10px 20px $card-shadow-color;
        transition: box-shadow 0.2s ease-in-out;

        .equipment-info {
          opacity: 1;
          transition: opacity 0.8s linear;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .equipment-section {
    padding: $section-spc;

    .equipment-header {
      margin-bottom: $spc-l;
    }

    .equipment-cards {
      width: 70%;
      width: 70vw;

      .equipment-card {
        width: 21.25rem;
        height: 23.75rem;
        margin: $spc-s;
      }
    }
  }
}
