.equipment-section {
  display: flex;
  width: 100%;
  width: 100vw;
  flex-flow: column nowrap;

  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;

  background-color: $bg-color;

  .equipment-header {
    display: flex;
    width: 100%;
    width: 100vw;
    flex-flow: column nowrap;
    margin-bottom: 100px;

    h1 {
      color: white;
      text-align: center;
    }
  }

  .equipment-cards {
    display: flex;
    width: 60%;
    width: 60vw;
    flex-flow: row wrap;

    margin-bottom: 30px;
    justify-content: space-around;
    text-align: left;

    .equipment-card {
      display: flex;
      flex-flow: column nowrap;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 340px;
      height: 380px;

      color: $link-color;

      padding: 20px;
      border-radius: 5px;
      box-shadow: 2px 1px 15px rgba(0, 0, 0, 0.8);

      h3 {
        text-align: center;
      }

      &:nth-of-type(1) {
        background-image: url("assets/images/teleskop1_full.jpg");
        background-size: 280px;
        background-position-y: 80px;
        background-color: white;
        opacity: 0.9;
      }

      &:nth-of-type(2) {
        background-image: url("assets/images/teleskop2_full.jpg");
        background-size: 280px;
        background-position-y: 80px;
        background-color: white;
        opacity: 0.9;
      }

      h3 {
        padding-top: 10px;
      }

      .equipment-image {
        width: 350px;
        height: 450px;
      }

      .equipment-info {
        display: flex;
        height: 100%;
        padding-top: 20px;
        flex-flow: column wrap;
        justify-content: space-around;

        background-color: transparent;
        opacity: 0;
        line-height: 20px;
        transition: none;

        .equipment-info-prop-title {
          font-weight: 600;
        }

        li {
          margin-bottom: 8px;
        }
      }

      &:hover {
        background-image: none;
        background-color: white;
        opacity: 0.9;
        box-shadow: 6px 6px 0px $link-hovered-color;

        .equipment-info {
          opacity: 5;
          transition: opacity 0.8s linear;
        }
      }
    }
  }
}
