.equipment-section {
  display: flex;
  width: 100%;
  width: 100vw;
  padding-top: 100px;
  padding-bottom: 100px;

  flex-flow: column nowrap;
  align-items: center;

  background-color: $bg-color;

  .equipment-header {
    display: flex;
    width: 100%;
    width: 100vw;
    margin-bottom: 100px;
    flex-flow: column nowrap;
  }

  .equipment-cards {
    display: flex;
    width: 60%;
    width: 60vw;

    flex-flow: row wrap;
    justify-content: space-around;
    text-align: left;

    .equipment-card {
      display: flex;
      width: 340px;
      height: 380px;
      padding: 20px;
      margin-bottom: 30px;
      flex-flow: column nowrap;

      background-size: 280px;
      background-position: center;
      background-position-y: 80px;
      background-repeat: no-repeat;
      background-color: $color-white;

      color: $link-color;
      border-radius: 5px;
      box-shadow: 0px 3px 6px $text-shadow-color;
      box-shadow: inset 0px 0px 20px 10px $text-shadow-color;

      h2 {
        padding-top: 10px;
        text-align: center;
        letter-spacing: 0em;
      }

      &:nth-of-type(1) {
        background-image: url("assets/images/teleskop1_full.jpg");
      }

      &:nth-of-type(2) {
        background-image: url("assets/images/teleskop2_full.jpg");
      }

      .equipment-image {
        width: 350px;
        height: 450px;
      }

      .equipment-info {
        display: flex;
        height: 100%;
        padding-top: 20px;

        flex-flow: column wrap;
        justify-content: space-around;

        line-height: 20px;
        opacity: 0;
        transition: none;

        .equipment-info-prop-title {
          font-weight: 600;
        }

        li {
          margin-bottom: 8px;
        }
      }

      &:hover {
        background-image: none;
        opacity: 1;
        box-shadow: inset 0px 0px 20px 10px $color-white;
        transition: box-shadow 0.2s ease-in-out;

        .equipment-info {
          opacity: 1;
          transition: opacity 0.8s linear;
        }
      }
    }
  }
}
