footer {
  display: flex;
  width: 100%;
  width: 100vw;

  height: $spc-xl;
  flex-flow: column-reverse nowrap;
  justify-content: center;
  align-items: center;

  background-color: $bg-color-dark;
  color: $font-color-bright;

  h4 {
    display: flex;
    padding: $spc-s;
    align-content: center;

    font-size: 0.9375rem;
    font-weight: 100;
  }

  .social-icons {
    display: flex;
    width: 30%;
    width: 30vw;

    margin: 0px;
    padding: $spc-s;

    justify-content: space-around;
    flex-flow: row nowrap;

    font-size: 1.625rem;

    .social-icon {
      display: inline-flex;
      width: 30px;
      margin: 0px;
      justify-content: center;
      align-items: center;
    }

    a {
      display: flex;
      width: 100%;
      width: 100vw;
      justify-content: center;
      color: $font-color-bright;

      &:hover {
        color: $link-hovered-color;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  footer {
    height: 3.438rem;
    flex-direction: row;
    justify-content: space-between;

    h4 {
      padding-left: 4%;
      padding-left: 4vw;
    }

    .social-icons {
      margin-right: 4%;
      margin-right: 4vw;
      justify-content: flex-end;

      .social-icon {
        margin-right: $spc-s;
      }
    }
  }
}
