@import './breakpoints.scss';

footer {
  display: flex;

  width: 100%;
  width: 100vw;
  height: $spc-xl;

  flex-flow: column-reverse nowrap;
  justify-content: center;
  align-items: center;

  background-color: $bg-color-dark;
  color: $font-color-bright;

  h5 {
    padding-top: 1.875rem;
  }

  .social-icons {
    display: flex;

    width: 30%;
    width: 30vw;

    margin: 0;

    justify-content: space-around;
    flex-flow: row nowrap;

    font-size: $icon-font-size;

    .social-icon {
      display: inline-flex;

      width: 30px;

      margin: 0;
      padding: 0 $spc-s;

      justify-content: center;
      align-items: center;
    }

    a {
      display: flex;

      width: 100%;
      width: 100vw;

      justify-content: center;

      color: $font-color-bright;

      &:hover {
        color: $link-hovered-color;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  footer {
    height: 3.438rem;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h5 {
      padding: 0;
      margin-left: $spc-m;
    }

    .social-icons {
      justify-content: flex-end;
      margin-right: $spc-m;

      .social-icon {
        margin-right: $spc-s;
      }
    }
  }
}
