header {
  display: flex;
  width: 100%;
  width: 100vw;
  height: 65px;

  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 5;

  background-color: $color-white;

  font-weight: bold;
  color: $link-color;
  box-shadow: 3px 0px 6px $text-shadow-color;

  .brand {
    margin-left: 4%;
    margin-left: 4vw;

    a {
      display: flex;
      align-items: center;
      color: $link-color;

      &:hover {
        color: $link-color;
        text-shadow: none;
      }

      img {
        width: 45px;
      }

      h1 {
        margin-left: 6%;
        margin-left: 2vw;

        font-size: 22px;
        font-weight: 500;
        letter-spacing: 0.05em;
        color: $link-color;
        text-shadow: 0px 0px 1px $text-shadow-color;
      }
    }
  }

  .hamburger-menu {
    display: flex;
    flex-flow: column nowrap;
    height: 27px;
    width: 32px;

    position: absolute;
    right: 28px;

    justify-content: space-around;
    cursor: pointer;

    span {
      display: block;
      height: 4px;
      width: 32px;

      border-radius: 3px;
      background-color: $font-color-dark;
    }
  }

  .navbar-items {
    display: none;
    flex-flow: column nowrap;
    height: 215px;
    width: 100%;
    width: 100vw;

    padding-bottom: 25px;
    padding-top: 10px;

    position: absolute;
    top: 65px;

    justify-content: space-around;
    align-items: center;

    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: white;
    font-size: 1.25rem;

    .navbar-item {
      display: inline;
      margin-left: 6px;

      font-weight: 500;

      &.navbar-fb {
        width: 30px;
      }
    }

    &.active {
      display: flex;
    }
  }
}

@media screen and (min-width: 1025px) {
  header {
    .navbar-items {
      display: flex;
      flex-flow: row nowrap;
      height: auto;
      width: 30%;
      width: 30vw;

      margin-right: 7%;
      margin-right: 7vw;
      padding: 0;

      position: relative;
      top: auto;

      font-size: 1rem;

      .navbar-item {
        margin: 0;
      }
    }

    .hamburger-menu {
      display: none;
    }
  }
}
