header {
  display: flex;
  width: 100%;
  width: 100vw;
  height: 4.375rem;

  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 5;

  background-color: $white;

  font-weight: bold;
  color: $font-color;
  box-shadow: 3px 0px 6px $text-shadow-color;

  .brand {
    margin-left: $spc-m;

    a {
      display: flex;
      align-items: center;
      color: $font-color;

      &:hover {
        color: $font-color;
        text-shadow: none;
      }

      img {
        width: 45px;
      }

      h1 {
        margin-left: 6%;
        margin-left: 2vw;

        font-size: 1.375rem;
        font-weight: 500;
        letter-spacing: 0.05em;

        color: $font-color;
        text-shadow: 0px 0px 1px $text-shadow-color;
      }
    }
  }

  .hamburger-menu {
    display: flex;
    height: 23px;
    width: 32px;

    flex-flow: column nowrap;
    justify-content: space-around;
    position: absolute;
    right: $spc-m;

    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      height: 4px;
      width: 100%;
      position: absolute;
      left: 0;

      border-radius: 3px;
      background-color: $font-color;

      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 9px;
      }

      &:nth-child(4) {
        top: 18px;
      }
    }

    &.active {
      span {
        &:nth-child(1),
        &:nth-child(4) {
          width: 0%;
          top: 9px;
          left: 50%;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .navbar-items {
    display: none;
    flex-flow: column nowrap;
    height: 13.44rem;
    width: 100%;
    width: 100vw;

    padding: $spc-s;
    position: absolute;
    top: 69px;

    justify-content: space-around;
    align-items: center;

    border-top: 1px solid $grey;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: $white;
    font-size: 1.25rem;

    .navbar-item {
      display: inline;
      margin-left: 6px;
      margin-left: 6vw;

      font-weight: 500;
    }

    &.active {
      display: flex;
    }
  }
}

@media screen and (min-width: 1025px) {
  header {
    .navbar-items {
      display: flex;
      width: 40%;
      width: 40vw;
      height: auto;

      margin-right: $spc-m;
      padding: 0;

      flex-flow: row nowrap;
      position: relative;
      top: auto;

      font-size: 1rem;
      border: 0;

      .navbar-item {
        margin: 0;
      }
    }

    .hamburger-menu {
      display: none;
    }
  }
}
