header {
  display: flex;
  width: 100vw;
  height: 70px;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-family: 'PT Sans', sans-serif;
  color: #0e467e;

  .brand {
    margin-left: 4vw;
    font-size: 18px;
  }

  .navbar {
    margin-right: 7vw;


    .navbar-items {
      display: flex;
      width: 30vw;

      justify-content: space-around;

      .navbar-item {
        display: inline;

        text-transform: uppercase;
      }
    }
  }
}
