.info {
  display: flex;
  width: 100%;
  width: 100vw;

  padding-top: $spc-l;
  padding-bottom: $spc-xl;

  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: $heading-color;

  h2 {
    font-size: 1.5 em;
    width: 60%;
    width: 60vw;
    padding-bottom: $spc-m;
  }

  .info-cards {
    display: flex;
    width: 30%;
    width: 30vw;

    margin-top: $spc-m;

    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .info-card {
      display: inline-flex;
      width: 314px;
      padding: $spc-s;

      flex-flow: row nowrap;
      align-items: center;

      a {
        color: $link-hovered-color;

        &:hover {
          color: $heading-color;
        }

        &:visited {
          color: $link-hovered-color;
        }
      }

      .location-icons {
        display: inline-flex;
        width: 57px;
        height: 57px;

        margin-right: $spc-s;

        justify-content: center;
        align-items: center;

        font-size: 1.625rem;
        color: $link-hovered-color;
        border-radius: 100%;
        box-shadow: 3px 3px 6px $text-shadow-color;
      }
    }
  }
}

.members-image {
  display: block;
  width: 100%;
  width: 100vw;
}
