.info {
  display: flex;
  width: 100%;
  width: 100vw;

  padding: $section-spc;

  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: $heading-color;

  h2 {
    padding-bottom: $spc-l;
    font-size: 1.5rem;
  }

  .info-body {
    display: flex;
    width: 100%;
    width: 100vw;

    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    iframe {
      width: 100%;
      height: 300px;
      border: 0;
    }

    .info-items {
      display: flex;
      margin-top: $spc-m;

      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;

      .info-item {
        display: inline-flex;
        width: 18.75rem;
        padding: $spc-s;

        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        h3 {
          width: 10.38rem;
        }

        a {
          color: $heading-color;

          &:hover {
            color: $link-hovered-color;
          }

          &:visited {
            color: $link-hovered-color;
          }
        }
      }

      .location-icons {
        display: inline-flex;
        width: $icon-dim;
        height: $icon-dim;

        justify-content: center;
        align-items: center;

        font-size: 1.625rem;
        color: $link-hovered-color;
        border-radius: 100%;
        box-shadow: $icon-shadow $text-shadow-color;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .info {
    .info-body {
      width: 75%;
      width: 75vw;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: flex-start;

      iframe {
        width: 550px;
        height: 400px;
      }

      .info-items {
        margin: 0 0 0 $spc-m;

        .info-item {
          width: 17.5rem;
          padding: 0 0 $spc-s 0;
        }
      }
    }
  }
}

.members-image {
  display: block;
  width: 100%;
  width: 100vw;
}
