@import './breakpoints.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

$white: #fff;
$grey: #d3d3d3;

$font-color: #021223;
$font-color-bright: $white;
$link-hovered-color: #ed403a;
$card-hover-color: $white;
$heading-color: #0760b7;
$bg-color-accent: $heading-color;
$bg-color-dark: $font-color;
$bg-color-bright: $grey;

$text-shadow-color: rgba(0, 0, 0, 0.2);
$card-shadow-color: rgba(0, 0, 0, 0.3);

$icon-size: 57px;
$icon-font-size: 1.625rem;
$icon-shadow: 3px 3px 6px $text-shadow-color;
$text-shadow: 0px 1px 2px $text-shadow-color;

$content-max-width: 50.13rem;
$content-mob-max-width: 34.38rem;

$spc-s: 1.25rem;
$spc-m: 3.125rem;
$spc-l: 6.25rem;
$spc-xl: 9.375rem;

$section-spc: $spc-l 0 $spc-xl 0;
$section-mob-spc: $spc-m 0 $spc-l 0;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$border-grey: 1px solid $grey;

*,
html,
body {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: 'Raleway', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;

  font-size: 16px;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 2.375rem;
  font-weight: $font-weight-regular;
  text-shadow: $text-shadow $text-shadow-color;
}

h2 {
  text-align: center;
  font-size: 1.375rem;
  font-weight: $font-weight-regular;
}

h3 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: $heading-color;
}

h4 {
  font-size: 1rem;
  font-weight: $font-weight-semi-bold;
  letter-spacing: 0.02em;
}

h5 {
  font-size: 0.75rem;
  font-weight: $font-weight-light;
  color: $font-color-bright;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: $font-color;

  &:hover {
    color: $link-hovered-color;
  }

  &:active {
    color: $font-color;
  }
}

ul {
  list-style: none;
}

.content {
  padding-top: 4.375rem;

  .overlay {
    display: none;
    width: 100%;
    height: 100%;

    position: absolute;
    background-color: $grey;
    opacity: 0.7;

    &.active {
      display: block;
    }
  }
}

.onsite-anchor {
  display: block;
  top: -$spc-m;
  position: relative;
  visibility: hidden;
}

@media screen and (min-width: $desktop) {
  .content {
    .overlay {
      &.active {
        display: none;
      }
    }
  }

  .onsite-anchor {
    top: -&spc-s;
  }
}

@import 'header';
@import 'mainSlider';
@import 'aboutUs';
@import 'equipmentSection';
@import 'downloadableContent';
@import 'info';
@import 'footer';
@import 'icons';
