@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');

$white: #fff;
$grey: #d3d3d3;

$font-color: #021223;
$font-color-bright: $white;
$link-hovered-color: #ed403a;
$card-hover-color: $white;
$heading-color: #0760b7;
$bg-color-accent: $heading-color;
$bg-color-dark: $font-color;
$text-shadow-color: rgba(0, 0, 0, 0.2);
$card-shadow-color: rgba(0, 0, 0, 0.30);

$spc-s: 20px;
$spc-l: 100px;
$spc-xl: 150px;

*,
html,
body {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: 'Raleway', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 38px;
  font-weight: 400;
  color: $heading-color;
  text-shadow: 0px 1px 2px $text-shadow-color;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.2em;
  color: $heading-color;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: $font-color;

  &:hover {
    color: $link-hovered-color;
  }

  &:active {
    color: $font-color;
  }
}

ul {
  list-style: none;
}

.content {
  padding-top: 65px;
}

.onsite-anchor {
  display: block;
  position: relative;
  top: -25px;
  visibility: hidden;
}

@import 'header';
@import 'mainSlider';
@import 'aboutUs';
@import 'equipmentSection';
@import 'downloadableContent';
@import 'info';
@import 'footer';
