@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');

$link-color: #1c3664;
$link-hovered-color: #cc2b00;
$font-color-dark: #0e1b32;

*,
html,
body {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: 'Raleway', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hovered-color;
  }

  &:active {
    color: $link-color;
  }
}

ul {
  list-style: none;
}

.content {
  padding-top: 70px;
}

.onsite-anchor {
  display: block;
  position: relative;
  top: -25px;
  visibility: hidden;
}

@import 'header';
@import 'mainSlider';
@import 'aboutUs';
